body {
  color: black;
  font-family: 'Cinzel', 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// img {
//   width: 100%;
//   display: block;
//   height: auto;
// }

.todo__container {
  outline: 1px salmon solid;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__tasks {
  font-size: 30px;
  font-family: Karla;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}
